<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.type.watch" />

    <application>

        <service
            android:name="com.google.wear.jetfit.tile.JetFitTileProviderService"
            android:label="@string/tile_name"
            android:icon="@drawable/ic_nordic"
            android:permission="com.google.android.wearable.permission.BIND_TILE_PROVIDER"
            android:exported="true"
            android:process=":data">
            <intent-filter>
                <action android:name="androidx.wear.tiles.action.BIND_TILE_PROVIDER" />
            </intent-filter>

            <meta-data
                android:name="androidx.wear.tiles.PREVIEW"
                android:resource="@drawable/ic_nordic" />
        </service>

        <service
            android:name="com.google.wear.jetfit.tile.StandardJetFitTileProviderService"
            android:label="@string/tile_name_standard"
            android:icon="@drawable/ic_nordic"
            android:permission="com.google.android.wearable.permission.BIND_TILE_PROVIDER"
            android:exported="true"
            android:process=":data">
            <intent-filter>
                <action android:name="androidx.wear.tiles.action.BIND_TILE_PROVIDER" />
            </intent-filter>

            <meta-data
                android:name="androidx.wear.tiles.PREVIEW"
                android:resource="@drawable/ic_nordic" />
        </service>
    </application>

</manifest>
